In [ ]:
#1
'''
MongoDB is a non-relational document database that provides support for JSON-like storage. 
The MongoDB database has a flexible data model that enables you to store unstructured data, 
and it provides full indexing support, and replication with rich and intuitive APIs.
'''

'''
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. 
Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.
'''

'''
Speed: It's high-performing for simple queries. 
Flexibility: You can add new columns or fields on MongoDB without affecting existing rows or application performance. 
Not every database fits every business need. 
That's why many companies rely on both relational and non-relational databases for different tasks.
'''

In [ ]:
#2
'''
1. Ad-hoc queries for optimized, real-time analytics
2. Indexing appropriately for better query executions
3. Replication for better data availability and stability
4. Sharding
5. Load balancing
'''

In [2]:
#3
import pymongo
client = pymongo.MongoClient("mongodb+srv://jaiswalanadi:anadi@cluster0.b0wkxz1.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client['anadi']
coll_anadi = db["my_record"]

In [3]:
#4.1
data = {"name" : "sudh" , 
        "class" :"data science masters " ,
        "time" : "flexi"}
coll_anadi.insert_one(data)

In [4]:
#4.2
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
coll_anadi.insert_many(data2)

In [5]:
#4.3
coll_anadi.find_one()

{'_id': ObjectId('64008f5941b6b5628f8c5001'),
 'name': 'sudh',
 'class': 'data science masters ',
 'time': 'flexi'}

In [6]:
#4.4
for i in coll_anadi.find():
    print(i)

{'_id': ObjectId('64008f5941b6b5628f8c5001'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('64008fb941b6b5628f8c5002'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('6400900641b6b5628f8c5003'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6400900641b6b5628f8c5004'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6400900641b6b5628f8c5005'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6400900641b6b5628f8c5006'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6400900641b6b5628f8c5007'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6400900641b6b5628f8c5008'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6400900641b6b5628f8c5009'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6400900641b6b5628f8c500a'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6400900641b6b5628f8c500b'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6400900641b6b5628f8c500c'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6400900641b6b5628f8c500d'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6400900641b6b5628f8c500e'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6400907e41b6b5628f8c500f'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('640090bb41b6b5628f8c5010'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('640090bb41b6b5628f8c5011'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('640090bb41b6b5628f8c5012'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('640094e36c6fe56d858b4d95'), 'name': 'sudh', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('640094e36c6fe56d858b4d96'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640094e36c6fe56d858b4d97'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640094e36c6fe56d858b4d98'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640094e36c6fe56d858b4d99'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640094e36c6fe56d858b4d9a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640094e36c6fe56d858b4d9b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640094e36c6fe56d858b4d9c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640094e36c6fe56d858b4d9d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640094e36c6fe56d858b4d9e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640094e36c6fe56d858b4d9f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640094e36c6fe56d858b4da0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640094e36c6fe56d858b4da1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('640095116c6fe56d858b4da2'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640095116c6fe56d858b4da3'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640095116c6fe56d858b4da4'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640095116c6fe56d858b4da5'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640095116c6fe56d858b4da6'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640095116c6fe56d858b4da7'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640095116c6fe56d858b4da8'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640095116c6fe56d858b4da9'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640095116c6fe56d858b4daa'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640095116c6fe56d858b4dab'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640095116c6fe56d858b4dac'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640095116c6fe56d858b4dad'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [9]:
#5
'''
In mongoDB, the find() method is used to fetch a particular data from the table. 
In other words, it is used to select data in a table. It is also used to return all events to the selected data. 
The find() method consists of two parameters by which we can find a particular record.
'''

'\nIn mongoDB, the find() method is used to fetch a particular data from the table. \nIn other words, it is used to select data in a table. It is also used to return all events to the selected data. \nThe find() method consists of two parameters by which we can find a particular record.\n'

In [ ]:
#6
'''
The sort() method specifies the order in which the query returns the matching documents from the given collection. 
You must apply this method to the cursor before retrieving any documents from the database.
'''
coll_anadi.find().sort({'companyName':'pwskills'})

In [ ]:
#7
'''
Delete methods are used to remove records from the collection, 
deleteOne deletes the first record that matches the filter and 
deleteMany removes every record that matches the filter.
'''

'''
drop() method is used to drop a collection from a database. 
It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.
'''